<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Help")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <!-- <h1>
            <%block name="pageheader">${page_header or _("help")}</%block>
        </h1> -->

        <h2>ご利用までの流れ</h2>

        <h4>
            <span>塾オンラインの説明</span>
        </h4>

        <div class="so-panel widget widget_sow-editor panel-first-child panel-last-child">
            <div class="so-widget-sow-editor so-widget-sow-editor-base">
                <div class="siteorigin-widget-tinymce textwidget">
                    <p><span>「塾online」を使えば、テキスト・動画・音声・スライド・クイズ・小テスト…などの多彩なコンテツを混在したオンラインコースが簡単に作れます。</span></p>
                    <p><span>また、「無料コース」「有料コース」のような収益化の仕組みも利用でき、サイトのカスタマイズも非常に細かく設定できるスグレモノですよ。</span></p>
                    <p><span>使い方！それでは、実際にオンラインコースを作りながら、どのようなサービスなのかを詳しく見ていきましょう！　</span></p>
                    <p><span>まずは、サイトにアクセスして自分のメルアドを登録します！</span></p>
                    <p><span>「パスワード」と、これから作る学習サイトの「名称」を入力します。</span></p>
                    <p><span>好きな「カラーテーマ」を選択！ このあと、「名前」の入力と簡単な「アンケート」に答えたら準備完了です。</span></p>
                    <p><span>そして、自分専用の「ダッシュボード」が表示されます！「オンラインコース」の作成や、サイトのカスタマイズ、生徒の管理など、すべての作業はこのダッシュボードから行うことが出来ます。</span></p>
                    <p><span>オンラインコースを作ろう！それでは実際にコースを作っていきましょう！</span></p>
                    <p><span>まずは、オンラインコースの中身である「カリキュラム」の制作を行います。</span></p>
                    <p><span>最初は何も無い状態なので、コース作成ボタンをクリックします。</span></p>
                    <p><span>これから制作する「オンラインコース」の名前を入力します。</span></p>
                    <p><span>すると、「コース制作エディタ」が表示されます！ ここで、コースに必要な「テキスト」「動画」「スライド資料」などを、チャプター毎に整理しながら作っていくわけです。</span></p>
                    <p><span>ただし、事前に画面上部の「Details」タブから、コースを公開した時のURLを決めておく必要があります。このURLを設定しておかないと、「プレビュー表示」ができないので注意しておきましょう。</span></p>
                    <p><span>そして、まず最初に画面左の「Add Chapter」ボタンから、1つ目のチャプターを作り…　</span></p>
                    <p><span>そのチャプター内に配置する、多彩なコンテンツを追加していきます。</span></p>
                    <p><span>例えば「Text」を追加すると、ブログを書く感覚で「画像・動画」などを混在した文章を作成することができます。さらに、HTMLコードも編集可能なので、細かい調整も自由自在です。</span></p>
                    <p><span>画面右上にある「Preview Course」から「As a Student」をクリックすると…</span></p>
                    <p><span>実際に公開された時に、どのような感じで表示されるのかも確認できるので便利です！</span></p>
                    <p><span>また、動画ファイルをそのまま直接アップロードすることで、動画コンテンツによる学習コースを作ったり…（およそ30種以上のファイル形式に対応しています…）</span></p>
                    <p><span>プレゼン用のスライド資料をPDF化したものをアップロードすると、ページ毎に自動展開されて登録されます。</span></p>
                    <p><span>公開すると、スライドショーのようにクリックすることで「ページ遷移」できる形式で表示されるので便利！</span></p>
                    <p><span>さらに、「質問」と「回答」を入力してクイズコンテンツも作れます。</span></p>
                    <p><span>こんな感じの、確認テストみたいなコンテンツが作れるでしょう。 他にも、ポッドキャストのように音声コンテンツを追加したり、アンケートや投票コンテンツを作って生徒の反応を確認したり、コメントサービスの「Disqus」と連携することも可能です。</span></p>
                    <p><span>これだけの機能が搭載されていれば、かなり充実した「学習コンテンツ」を作れるようになると思います。</span></p>
                    <p><span>コースを「公開」してみよう！ある程度、コンテンツを作りこんだら最後に「書き出し」ボタンをクリックするだけで、オンラインコースを世界中に公開できます！非常にお手軽で良いですね！</span></p>

                    <p><span>（サイトデザインもメニューからいろいろカスタマイズ可能です…）</span></p>
                    <p><span>それでは、メニューにある「Preview Site」で、公開されたコースを確認してみましょう。</span></p>
                    <p><span>見事に、自分だけのコースが完成しているのが分かります！さらに驚いたことに、この時点で「ユーザーログイン機能」も搭載されており、学習したいユーザーはメールアドレスを登録することで受講できるようになっています。</span></p>
                    <p><span>もちろん、ユーザーの管理は「塾online」のダッシュボードから可能で、メールによるアプローチを仕掛けることも出来るようになっています。</span></p>
                    <p><span>自分で作ったオンラインコースを友人・知人にシェアするのも簡単で、単純にURLをSNSやメールで教えてあげればOKです！</span></p>
                    <p><span>オススメの機能たち！「塾online」は現在も活発にバージョンアップが行われており、機能も豊富になっているのですべてを紹介しきれないのですが、中でも特にオススメの機能をピックアップしてご紹介してみようと思います！</span></p>
                    <p><span>例えば、「テーマカスタマイズ機能」が搭載されています。</span></p>
                    <p><span>これは、ワードプレスみたいに「独自テーマ」を作成することが出来るようになっており、自分好みに見た目を大きく変更することが可能です。</span></p>
                    <p><span>また、「通知カスタマイズ機能」を使えば、ユーザーが登録した時やコースを完了した時などに自動通知されるメールの中身を編集することが出来ます。独自の変数も使えるので、わりと自在に編集することが可能です</span></p>
                    <p><span>作成したオンラインコースは、URLでシェアする以外にも「ウィジェット機能」を使うことで、埋め込み用のコードを生成することも出来ます。自分のブログやサイトなどに貼り付ければ、オンラインコースへの入り口を増やすことにも繋がるでしょう。　</span></p>
                    <p><span>さらに、「無料コース」だけでなく「有料コース」を作成することも可能です！</span></p>
                    <p><span>これは、決済サービスの「stripe」と連携するだけで実現できるので簡単です。</span></p>
                    <p><span>これにより、無料・有料が混在した独自の「オンライン学習プラットフォーム」を構築することが出来るわけです！ちなみに、「塾online」の有料プランに登録すれば、月額課金などの細かい課金設定も可能になりますよ</span></p>
                    <p><span>サンプル事例として、「塾online」で作られた公式のオンラインコースがあるので、ぜひ一度チェックしてみてください！</span></p>


                </div>
            </div>
        </div>

        
    </section>
</main>